// Get involved section
.inv-back {
  background-color: $orange-back;
}
.involved {
  font-family: $droid;
  color: $tan-font;
  font-weight: bold;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
}
.involved-p {
  font-family: $droid;
  color: $tan-font;
  padding: 20px;
  line-height: 1.5;
}
.want-back {
  background-color: $maroon-back;
}
