// Brandon Green
/* Any changes to the hero go here */
.hero {
  background-image: url("Home Page.jpg");
  background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
  height: 300px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hero-text {
  font-family: $droid;
  color: #efe9d8;
  font-size: 36px;
  width: 80%;
  text-align: left;
  line-height: 40px;
}
